@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
}

main{
    height: 100vh;
    position: relative;
    
}
#telefone{
    background: url(../imagens/frame-iphone.png) no-repeat fixed;
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

#redes{
    text-align: right;
}

#redes img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px black;
}

#redes img:hover{
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px black;
    transition: transform .5s;
}